/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
	color: #222;
}

::selection {
	background: #b3d4fc; /* rip hot pink :'( */
	text-shadow: none;
	color: #222;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
   Site Styles
   ========================================================================== */

body {
	font: 16px/26px Helvetica, Helvetica Neue, Arial;
	background: #333333 repeat fixed; /* Customised http://subtlepatterns.com/gplay/ */
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	width: auto;
	min-width: 290px;
	margin: 0 15px;
}

/* ===================
	ALL SIZES (Colors, etc)
   =================== */

.header-container {
	border-bottom: 15px solid #006666;
}
.header-container .wrapper {
}
.title {
	color: #ffffff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	margin: 10px 0;
}
.title a:link, .title a:visited {
	color: #ffffff;
	text-decoration: none;
}
.title a:hover, .title a:active {
	text-decoration: underline;
}
.user {
	font-size: 20px;
	line-height: 28px;
	text-align: right;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
	margin: 5px 0;
}
.user a:link, .user a:visited {
	color: #cccccc;
}
.footer-container {
	background: rgba(0, 0, 0, 0.6);
}


/* ==============
	MOBILE
   ============== */
.user {
	margin: 5px 0;
}
nav {
	background-color: rgba(0, 127, 127, 0.4);
	margin: 0 -15px;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav li {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
nav a {
	display: block;
	padding: 5px 0;
	font-size: 20px;
	line-height: 30px;

	text-align: center;
	text-decoration: none;
	font-weight: bold;

	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

	-webkit-transition: background-color .5s linear;
	transition: background-color .5s linear;
}
nav a:hover, nav a:active, nav .active a {
	background-color: #006666;
}


nav a:hover,
nav a:visited {
	color: white;
}

nav a:hover {
	text-decoration: underline;
}
/* ==============
	MOBILE: Main
   ============== */

.main {
	padding: 30px 0;
}

.main article h1 {
	font-size: 2em;
}

.main aside {
	color: white;
	padding: 0px 5% 10px;
}

.footer-container footer {
	color: white;
	padding: 20px 0;
}

/* ===============
	ALL: IE Fixes
   =============== */

.ie7 .title {
	padding-top: 20px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
	INTERMEDIATE
   ==================== */
	nav > ul {
		display: table;
	}
	nav > ul > li {
		display: table-cell;
		width: 1%;
		float: none;
		border-left: 2px solid rgba(0, 0, 0, 0.1);
	}
	nav > ul > li > a {
		margin: 0 0;
		padding: 5px 1%;
		margin-bottom: 0;
		font-size: 16px;
		line-height: 26px;
	}
	nav li:first-child {
		border-left: none;
	}
	nav li:first-child a {
		margin-left: 0;
		border-radius: 20px 0 0 0;
	}

	nav li:last-child a {
		margin-right: 0;
		border-radius: 0 20px 0 0;
	}

	.head-unit {
		font-size: 22px;
		line-height: 32px;
		padding: 40px 30px;
	}
	.head-unit h1 {
		font-size: 52px;
		line-height: 60px;
		margin: 0 0 30px;
		text-align: center;
	}

}

@media only screen and (min-width: 768px) {

/* ====================
	WIDE
   ==================== */
	header.wrapper {
		position: relative;
		min-height: 80px;
	}
	.title {
		float: left;
		width: 260px;
		font-size: 48px;
		line-height: 60px;
		margin: 10px 0 0;
	}
	.user {
		float: right;
		color: #ffffff;
		text-align: right;
		width: 60%;
	}
	nav {
		position: absolute;
		right: 0;
		left: 270px;
		bottom: 0;

		border-radius: 20px 20px 0 0;
	}


	.head-unit {
		font-size: 32px;
		line-height: 40px;
		padding: 80px 50px;
	}
	.head-unit h1 {
		font-size: 72px;
		line-height: 80px;
		margin: 0 0 30px;
		text-align: center;
	}


}

@media only screen and (min-width: 1140px) {

/* ===============
	Maximal Width
   =============== */

	.wrapper {
		width: 1026px; /* 1140px - 10% for margins */
		margin: 0 auto;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}