/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
	color: #222;
}

::selection {
	background: #b3d4fc; /* rip hot pink :'( */
	text-shadow: none;
	color: #222;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
   Site Styles
   ========================================================================== */

/* ===================
	ALL SIZES (Colors, etc)
   =================== */

/* Element styles */

body {
	font: 16px/26px Helvetica, Helvetica Neue, Arial;
	background: #333333 repeat fixed; /* Customised http://subtlepatterns.com/gplay/ */
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	font-family: 'Roboto', sans-serif;
}
a:link {
	color: #ddddff;
}
a:visited {
	color: #ccccff;
}
img {
	display: block;
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 15px;
	line-height: 1.4em;
}
p {
	margin: 0 0 10px;
}
table {
	width: 100%;
}
table thead th {
	background-color: rgba(255, 255, 255, 0.1);
}
table tbody tr:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
table tbody th {
	background-color: rgba(255, 255, 255, 0.05);
}
table th, table td {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	border-right: 1px solid rgba(255, 255, 255, 0.3);
	padding: 2px 5px;
}
table th:last-child, table td:last-child {
	border-right: none;
}
table tbody tr:last-child th, table tbody tr:last-child td { /* tbody to ignore headers */
	border-bottom: none;
}

/* Textbox selector based on bootstrap */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	padding: 3px 6px;
	margin: 1px 3px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: 5px;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	padding: 3px 9px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	background-color: #1F5252;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	font-size: 110%;

	-webkit-transition: background-color .5s linear, box-shadow .2s linear;
	transition: background-color .5s linear, box-shadow .2s linear;
}
input[type="submit"]:hover, input[type="submit"]:focus,
input[type="reset"]:hover, input[type="reset"]:focus,
input[type="button"]:hover, input[type="button"]:focus,
button:hover, button:focus {
	background-color: #006666;
}
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active {
	box-shadow: 2px 2px 3px #006666;
}
form {
	margin-bottom: 10px;
}

/* Generic styles */

.wrapper {
	width: auto;
	min-width: 290px;
	margin: 0 15px;
}
.result-row {
	background-color: #006666;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.3);
	border-style: solid solid solid none;
	float: left;
	height: 5px;
	margin: 10px 5px 10px -5px;
}
.result-text {
	float: left;
}
.float-right {
	float: right;
}
.button-large {
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
}
.attrib {
	opacity: 0.5;
	-webkit-transition: opacity .5s linear;
	transition: opacity .5s linear;
	font-size: 10px;
	line-height: 10px;
	text-align: right;

}
.attrib:hover {
	opacity: 1;
}
.show-printer {
	display: none;
}

/* Specific styles */

.header-container {
	border-bottom: 15px solid #006666;
}
.title {
	color: #ffffff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	margin: 10px 0;
}
.title a:link, .title a:visited {
	color: #ffffff;
	text-decoration: none;
}
.title a:hover, .title a:active {
	text-decoration: underline;
}
.user {
	font-size: 20px;
	line-height: 28px;
	text-align: right;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
	margin: 5px 0;
}
.user a:link, .user a:visited {
	color: #cccccc;
}
.footer-container {
	background: rgba(0, 0, 0, 0.6);
}

nav {
	background-color: rgba(0, 127, 127, 0.4);
	margin: 0 -15px;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav li {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
nav a {
	display: block;
	padding: 5px 0;
	font-size: 20px;
	line-height: 30px;

	text-align: center;
	text-decoration: none;
	font-weight: bold;

	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

	-webkit-transition: background-color .5s linear;
	transition: background-color .5s linear;
}
nav a:hover, nav a:active, nav .active a {
	background-color: #006666;
}
nav a:hover,
nav a:visited {
	color: white;
}

nav a:hover {
	text-decoration: underline;
}

.main {
	padding: 30px 0;
}

.main article h1 {
	font-size: 2em;
}

.main aside {
	color: white;
	padding: 0px 5% 10px;
}

.footer-container footer {
	color: white;
	padding: 20px 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
	INTERMEDIATE
   ==================== */
	nav > ul {
		display: table;
	}
	nav > ul > li {
		display: table-cell;
		width: 1%;
		float: none;
		border-left: 2px solid rgba(0, 0, 0, 0.1);
		border-bottom: none;
	}
	nav > ul > li > a {
		margin: 0 0;
		padding: 5px 1%;
		margin-bottom: 0;
		font-size: 16px;
		line-height: 26px;
		color: #ffffff !important;
	}
	nav li:first-child {
		border-left: none;
	}
	nav li:first-child a {
		margin-left: 0;
		border-radius: 20px 0 0 0;
	}

	nav li:last-child a {
		margin-right: 0;
		border-radius: 0 20px 0 0;
	}

	.head-unit {
		font-size: 22px;
		line-height: 32px;
		padding: 40px 30px;
	}
	.head-unit h1 {
		font-size: 52px;
		line-height: 60px;
		margin: 0 0 30px;
		text-align: center;
	}

}

@media only screen and (min-width: 768px) {

/* ====================
	WIDE
   ==================== */
	header.wrapper {
		position: relative;
		min-height: 80px;
	}
	.title {
		float: left;
		width: 270px;
		font-size: 48px;
		line-height: 60px;
		margin: 10px 0 0;
	}
	.user {
		float: right;
		color: #ffffff;
		text-align: right;
		width: 60%;
	}
	nav {
		position: absolute;
		right: 0;
		left: 280px;
		bottom: 0;

		border-radius: 20px 20px 0 0;
	}


	.head-unit {
		font-size: 32px;
		line-height: 40px;
		padding: 80px 50px;
	}
	.head-unit h1 {
		font-size: 72px;
		line-height: 80px;
		margin: 0 0 30px;
		text-align: center;
	}

	.row-left {
		float: left;
		width: 48%;
	}
	.row-right {
		float: right;
		width: 50%;
		margin-left: 2%;
	}
	.left-sidebar {
		float: left;
		width: 24%;
	}
	.right-content {
		float: right;
		width: 75%;
	}
}

@media only screen and (min-width: 1140px) {

/* ===============
	Maximal Width
   =============== */

	.wrapper {
		width: 1026px; /* 1140px - 10% for margins */
		margin: 0 auto;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
	.show-printer {
		display: block;
	}
	.hide-printer {
		display: none;
	}

	.header-container, .footer-container {
		display: none;
	}
	.header-container {
		border-bottom: none;
	}
	table th, table td {
		border-bottom: 0.1cm solid #000000;
		border-right: 0.1cm solid #000000;
		padding: 2px 5px;
	}
	table th:last-child, table td:last-child {
		border-right: none;
	}
	table tbody tr:last-child th, table tbody tr:last-child td {
		border-bottom: none;
	}

	.result-row {
		background-color: #006666;
		border-width: 0.1cm;
		border-color: #000000;
		border-style: solid solid solid none;
		float: left;
		height: 5px;
		margin: 10px 5px 10px -5px;
	}

}